@import url('https://fonts.googleapis.com/css?family=Raleway|Arya|Nunito|Caveat');

// primary colour 
// #d9758b (pink)

// split complementary colours
// #75bdd9 (blue)
// #d9758b (green)

$body-font: 'Nunito', sans-serif;
$project-header-font: 'Arya', sans-serif;
$number-font: 'Caveat', sans-serif;

$header-background: linear-gradient(to bottom, #75bdd9,#fae3d9);
$nav-background: #75bdd9;
$main-background: lighten(#fae3d9, 4%);

$heading-color: #61c0bf;
$body-font-color: #333;
$project-header-color: #d9758b;
// #283c63

$nav-link-color: #fae3d9;
$view-button-background: darken(#75bdd9, 15%);
$contact-icons-color: #fff;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body-font;
  font-size: 0.95rem;
  color: $body-font-color;
}


h1, h2, h3, h4, h5, h6, p {
  margin-top: 5px;
  margin-bottom: 20px;
}

nav {
  padding: 20px 0;
  background: $nav-background;

  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      display: inline-block;

      a {
        position: relative;
        margin: 10px;
        padding: 5px 0;
        color: $nav-link-color;
        text-decoration: none;

        &:hover {
          color: lighten(#fae3d9, 10%);
        }

        &:hover::after {
          position: absolute;
          content: ' ';
          width: 20px;
          height: 4px;
          background: darken($nav-background, 10%);
          border-radius: 2px;
          display: block;
          top: 30px;
          left: 50%;
          margin-left: -10px;
        }
      }
    }
  }
}

header {
  background: $header-background;
  padding: 20px 0;
  height: 85vh;
}

.container {
  width: 100vw;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #444;

  .intro {
    background: #fff;
    border-radius: 50px;
    border: 5px solid #75bdd9;
    padding: 20px;
    margin-bottom: 50px;
    filter: drop-shadow(2px 2px 4px rgba(60,60,60, 0.4));

    &::after {
      position: absolute;
      bottom: -20px;
      right: 40%;
      content: '';
      width: 0px;
      height: 0px;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 20px solid #fff;
    }

    div {
      overflow: hidden;

      .intro-greeting {
        font-family: $body-font;
        display: inline;
        animation: showGreeting 1.2s ease-in;
        font-size: 2rem;
        font-weight: 700;
        margin-right: 7px;
        color: darken(#EE869D, 18%);
        // grid-column-start: 2;
        // grid-column-end: 3;
    
      }
      
      .intro-name {
        font-family: 'raleway', sans-serif;
        display: inline-block;
        margin-top: 12px;
        animation: introduction 2.5s ease;
        // grid-column-start: 3;
        // grid-column-end: 4;
      }
     
      .intro-role {
        font-family: $project-header-font;
        font-size: 1rem;
        display: block;
        border-top: 1px solid #75bdd9;
        margin: 10px;
        animation: role 3s ease 2s;
        animation-fill-mode: forwards;
        opacity: 0;
        // grid-column-start: 1;
        // grid-column-end: 5;
      }
      
      @keyframes showGreeting {
        0% {
          opacity: 0;
          transform: translateX(-30px);
        }
        50% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
          transform: translateX(0)
        }
      }
      
      @keyframes introduction {
        0% {
          transform: translateX(400%);
        }
        
        100% {
          transform: translateX(0%);
        }
      }
      
      @keyframes role {
        0% {
          opacity: 0;
        }
        
        50% {
          opacity: 0.7;  
        }
        
        100% {
          opacity: 1;
        }
      }
    }
  }

  .main-image {
    .self-photo {
      width: 180px;
    }
  }
}

main {
  background: $main-background;
  display: flex;
  flex-direction: column;

  a {
    &:link {
      color: $view-button-background;
    } 
    &:visited {
      color: $view-button-background;  
    }
  }

  section {
    margin: 0;
    padding: 60px 20px 0 20px;
    width: 100vw;

    h2 {
      font-size: 2.8rem;
      color: $body-font-color;
      position: relative;
      display: inline-block;
      z-index: 2;
    }

    &::after {
      content: '';
      width: 100%;
      height: 60px;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      position: absolute;
      bottom: -59px;
      left: 0;
      z-index: 2;
    }

    &#about {
      background: lighten(#EE869D, 10%);
      position: relative;

      &::after {
        background: lighten(#EE869D, 10%);
      }
    }

    &#skills {
      background: lighten(#75d991, 18%);
      position: relative;

      &::after {
        background: lighten(#75d991, 18%);
      }

      > div {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          font-family: $project-header-font;
          font-size: 1.6rem;
          color: darken(#bbded6, 30%);
        }

         div {
          text-align: center;

          ul {

            li {
              list-style: none;
              display: inline-block;
              margin: 12px;
              width: 70px;
              vertical-align: top;
              
              img {
                width: 50px;
                opacity: 0.8;
              }
              span {
                display: block;
              }
            }
          }
        }
      }
    }

    &#projects {
      background: lighten($main-background, 2%);
    }
  }

  h2::after {
    content: ' ';
    border-top: 8px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    display: block;
    transform: rotate(0deg) translateY(-8px);
    z-index: 1;
    position: absolute;
    bottom: 2px;
  }

  ul {
    list-style-position: inside;
    list-style-type: disc;
    margin: 10px;
    
    li {
      margin-bottom: 1.20rem;
    }
  }

  .project-item {
    margin-bottom: 80px;
    position: relative;

    &:nth-of-type(1) h3::before {
      content: '1';
    }
    &:nth-of-type(2) h3::before {
      content: '2';
    }
    &:nth-of-type(3) h3::before {
      content: '3';
    }
    &:nth-of-type(4) h3::before {
      content: '4';
    }
    &:nth-of-type(5) h3::before {
      content: '5';
    }

    .project-header {
      text-align: center;

      h3 {
        font-family: $project-header-font;
        font-size: 1.6rem;
        line-height: 2.24rem;
        color: $project-header-color;
        position: relative;
        z-index: 2;
        
        &::before {
          font-family: $number-font, sans-serif;
          font-size: 12rem;
          color: rgba(#fff, 0.6);
          opacity: 1;
          display: block;
          z-index: -2;
          position: absolute;
        }
      }
    }
  
    img {
      width: 280px;
      filter: drop-shadow(0px 3px 3px rgba(60, 60, 60, 0.5));
      z-index: 2;
      position: relative;
    }

    .project-links {
      text-align: center;
    }
  }
  
  a.view {
    background-color: $view-button-background;
    padding: 8px 12px;
    border-radius: 8px;
    color: #fae3d9;
    margin: 20px 15px;
    display: inline-block;
    filter: drop-shadow(0px 2px 2px rgba(60, 60, 60, 0.3));
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($view-button-background, 8%);
      color: lighten(#fae3d9, 8%);
    }
  }

  ul.technologies {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0;

    li::before {
      content: ' ';
      display: inline-block;
      border: 2px solid #75bdd9;
      border-radius: 3px;
      width: 8px;
      transform: rotate(0deg) translateY(-4px);
      margin-right: 10px;
    }

    li {
      margin: 8px;
    }
  }
}

footer {
  text-align: center;
  background: $nav-background;

  section {
    padding: 30px;
  }

  h2 {
    margin-bottom: 30px;
  }

  h2::after {
    display: none;
  }

  .contact-icons {
    display: flex;
    justify-content: space-evenly;
  
    a {
      font-size: 2.2rem;
      color: $contact-icons-color;
      transition: color 0.3s ease;
      position: relative;
      display: block;
      text-decoration: none;
  
      &:hover{
        color: #bbded6;
      }
    }
  }
}

// UX Demo Page

ol.ux {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  counter-reset: list;
  list-style: none;
  list-style-position: inside;

  li {
    position: relative;
    margin: 20px 10px;
  }

  li:before {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 10px;
  }

  img {
    width: 300px;
  }
}


@media (min-width: 700px) {
  nav {
    font-size: 1.25rem;
  }

  header {
    height: auto;
    padding: 80px 0;

    .container {
      margin-top: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .intro {
        margin-right: 50px;
        padding: 40px;

        &::after {
          right: -65px;
          top: 60px;
          border-left: 40px solid #fff;
          border-bottom: 25px solid transparent;
          border-top: 25px solid transparent;
        }

        div {
          .intro-greeting {
            font-size: 3rem;
          }

          .intro-name, .intro-role {
            font-size: 1.5rem;
          }
        }
      }

      .main-image {
        .self-photo {
          width: 200px;
        }
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;
    background: #fae3d9;

    main {
      width: 70vw;
      padding: 20px;
      
      section {
        width: inherit;

      }
    }
  }

  footer {
    h2 {
      font-size: 3rem;
    }
  }

  ol.ux {
    img {
      width: 450px;
    }
  }
}